
CREATE DATABASE [QLHOCSINH]
USE [QLHOCSINH]
go

 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLHOCSINH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER1\MSSQL\DATA\QLHOCSINH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLHOCSINH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER1\MSSQL\DATA\QLHOCSINH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLHOCSINH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLHOCSINH]
GO
/****** Object:  Table [dbo].[BOMON]    Script Date: 17/07/2023 9:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOMON](
	[MABM] [varchar](10) NOT NULL,
	[TENBM] [varchar](255) NOT NULL,
	[MAKHOA] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DKHP]    Script Date: 17/07/2023 9:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DKHP](
	[MASV] [varchar](10) NOT NULL,
	[MALHP] [varchar](10) NOT NULL,
	[DIEMTKY] [int] NULL,
	[DIEMGK] [int] NULL,
	[DIEMCK] [int] NULL,
	[DIEMTBHE10] [int] NULL,
	[DIEMTBHE4] [int] NULL,
	[HOCPHI] [int] NULL,
	[TTRANGHP] [varchar](255) NULL,
	[GHICHU] [varchar](255) NULL,
 CONSTRAINT [DKHP_SVLHP_PK] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MALHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCBONG]    Script Date: 17/07/2023 9:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCBONG](
	[LOAIHB] [varchar](255) NOT NULL,
	[MOTAHB] [varchar](255) NULL,
	[GIATRIHB] [int] NULL,
	[MASV] [varchar](10) NOT NULL,
 CONSTRAINT [HB_PK] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[LOAIHB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCPHAN]    Script Date: 17/07/2023 9:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCPHAN](
	[MAHP] [varchar](10) NOT NULL,
	[TENHP] [varchar](255) NOT NULL,
	[SOTC] [int] NULL,
	[BATBUOC] [varchar](255) NULL,
	[GHICHU] [varchar](255) NULL,
	[MABM] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 17/07/2023 9:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [varchar](10) NOT NULL,
	[TENKHOA] [varchar](255) NOT NULL,
	[SDTKHOA] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 17/07/2023 9:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [varchar](10) NOT NULL,
	[TENLOP] [varchar](255) NOT NULL,
	[CHUYENNGANH] [varchar](255) NULL,
	[LOPTRUONG] [varchar](10) NULL,
	[SL_SV] [int] NULL,
	[MAKHOA] [varchar](10) NULL,
	[NIENKHOA] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOPHP]    Script Date: 17/07/2023 9:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPHP](
	[MALHP] [varchar](10) NOT NULL,
	[MALOP] [varchar](10) NOT NULL,
	[MAHP] [varchar](10) NOT NULL,
	[TGBD] [datetime] NULL,
	[TGKT] [datetime] NULL,
	[SSTOIDA] [int] NULL,
	[DADK] [int] NULL,
	[HOCKY] [int] NULL,
	[NAM] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 17/07/2023 9:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [varchar](10) NOT NULL,
	[HOSV] [varchar](255) NOT NULL,
	[TENSV] [varchar](255) NOT NULL,
	[CMND] [varchar](255) NULL,
	[TUOI] [int] NULL,
	[NAMSINH] [date] NULL,
	[PHAI] [varchar](10) NULL,
	[DIACHI] [varchar](255) NULL,
	[CONGNO] [int] NULL,
	[LHDT] [varchar](255) NULL,
	[MALOP] [varchar](10) NULL,
	[KHOAHOC] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERLOGIN]    Script Date: 17/07/2023 9:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERLOGIN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](255) NOT NULL,
	[VAITRO] [varchar](50) NOT NULL,
	[MASV] [varchar](10) NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BOMON] ([MABM], [TENBM], [MAKHOA]) VALUES (N'10100', N'Bo Mon Toan', N'10001')
INSERT [dbo].[BOMON] ([MABM], [TENBM], [MAKHOA]) VALUES (N'10101', N'Bo Mon Vat Ly', N'10002')
INSERT [dbo].[BOMON] ([MABM], [TENBM], [MAKHOA]) VALUES (N'10102', N'Bo Mon Anh Ngu', N'10002')
GO
INSERT [dbo].[DKHP] ([MASV], [MALHP], [DIEMTKY], [DIEMGK], [DIEMCK], [DIEMTBHE10], [DIEMTBHE4], [HOCPHI], [TTRANGHP], [GHICHU]) VALUES (N'20001', N'11111', 0, 0, 0, 0, 0, 3000000, N'chua thu', NULL)
INSERT [dbo].[DKHP] ([MASV], [MALHP], [DIEMTKY], [DIEMGK], [DIEMCK], [DIEMTBHE10], [DIEMTBHE4], [HOCPHI], [TTRANGHP], [GHICHU]) VALUES (N'20001', N'1111114', 0, 0, 0, 0, 0, 2000000, N'chua thu', NULL)
INSERT [dbo].[DKHP] ([MASV], [MALHP], [DIEMTKY], [DIEMGK], [DIEMCK], [DIEMTBHE10], [DIEMTBHE4], [HOCPHI], [TTRANGHP], [GHICHU]) VALUES (N'20001', N'12221', 0, 0, 0, 0, 0, 3000000, N'chua thu', NULL)
GO
INSERT [dbo].[HOCBONG] ([LOAIHB], [MOTAHB], [GIATRIHB], [MASV]) VALUES (N'Giam 50%', N'Thanh Tich Hoc Tap Xuat Sac', 50, N'20001')
INSERT [dbo].[HOCBONG] ([LOAIHB], [MOTAHB], [GIATRIHB], [MASV]) VALUES (N'Giam 100%', N'Thanh Tich Hoc Tap Xuat Sac', 100, N'20002')
INSERT [dbo].[HOCBONG] ([LOAIHB], [MOTAHB], [GIATRIHB], [MASV]) VALUES (N'Giam 50%', N'Thanh Tich Hoc Tap Xuat Sac', 50, N'20005')
GO
INSERT [dbo].[HOCPHAN] ([MAHP], [TENHP], [SOTC], [BATBUOC], [GHICHU], [MABM]) VALUES (N'1001070006', N'Ky nang giao tiep', 2, N'CO', NULL, N'10101')
INSERT [dbo].[HOCPHAN] ([MAHP], [TENHP], [SOTC], [BATBUOC], [GHICHU], [MABM]) VALUES (N'1001070007', N'Ky nang giao tiep 2', 2, N'CO', NULL, N'10101')
INSERT [dbo].[HOCPHAN] ([MAHP], [TENHP], [SOTC], [BATBUOC], [GHICHU], [MABM]) VALUES (N'1001073894', N'Giao Duc Quoc Phong', 8, N'CO', NULL, N'10101')
GO
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [SDTKHOA]) VALUES (N'10001', N'Cong Nghe Thong Tin', N'0123456789')
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [SDTKHOA]) VALUES (N'10002', N'Quan Tri Kinh Doanh', N'0124457777')
GO
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [CHUYENNGANH], [LOPTRUONG], [SL_SV], [MAKHOA], [NIENKHOA]) VALUES (N'12001', N'20BITV01', N'Ki Su Phan Mem', N'20001', 16, N'10001', N'20')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [CHUYENNGANH], [LOPTRUONG], [SL_SV], [MAKHOA], [NIENKHOA]) VALUES (N'12002', N'19BITV01', N'Ki Su Phan Mem', N'20002', 17, N'10001', N'19')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [CHUYENNGANH], [LOPTRUONG], [SL_SV], [MAKHOA], [NIENKHOA]) VALUES (N'12003', N'20BBAV01', N'Quan Tri Kinh Doanh', N'20090', 14, N'10002', N'20')
GO
INSERT [dbo].[LOPHP] ([MALHP], [MALOP], [MAHP], [TGBD], [TGKT], [SSTOIDA], [DADK], [HOCKY], [NAM]) VALUES (N'1', N'12001', N'1001074621', CAST(N'2023-04-25T00:07:59.093' AS DateTime), CAST(N'2023-04-25T00:23:44.703' AS DateTime), 30, NULL, 2, N'2023')
INSERT [dbo].[LOPHP] ([MALHP], [MALOP], [MAHP], [TGBD], [TGKT], [SSTOIDA], [DADK], [HOCKY], [NAM]) VALUES (N'100', N'12001', N'1001074730', CAST(N'2023-07-15T21:10:56.087' AS DateTime), NULL, 30, NULL, 1, N'2023')
INSERT [dbo].[LOPHP] ([MALHP], [MALOP], [MAHP], [TGBD], [TGKT], [SSTOIDA], [DADK], [HOCKY], [NAM]) VALUES (N'11111', N'12001', N'1001074635', CAST(N'2023-07-15T18:26:05.907' AS DateTime), CAST(N'2023-07-15T20:48:06.000' AS DateTime), 30, NULL, 1, N'2023')
GO
INSERT [dbo].[SINHVIEN] ([MASV], [HOSV], [TENSV], [CMND], [TUOI], [NAMSINH], [PHAI], [DIACHI], [CONGNO], [LHDT], [MALOP], [KHOAHOC]) VALUES (N'20001', N'Tran', N'Tuan huynh', N'040202000456', 19, CAST(N'2002-10-02' AS Date), N'Nam', N'98 Ham Tu P6 Q5 TP.HCM', 0, N'Quoc Te', N'12001', N'2020-2023')
INSERT [dbo].[SINHVIEN] ([MASV], [HOSV], [TENSV], [CMND], [TUOI], [NAMSINH], [PHAI], [DIACHI], [CONGNO], [LHDT], [MALOP], [KHOAHOC]) VALUES (N'20002', N'Nguyen', N'Van Linh', N'040102014586', 19, CAST(N'2002-01-06' AS Date), N'Nam', N'13 Nguyen Van Linh P12 Q7 TP.HCM', 0, N'Quoc Te', N'12002', N'2020-2023')
INSERT [dbo].[SINHVIEN] ([MASV], [HOSV], [TENSV], [CMND], [TUOI], [NAMSINH], [PHAI], [DIACHI], [CONGNO], [LHDT], [MALOP], [KHOAHOC]) VALUES (N'20003', N'Nguyen', N'Thi Linh', N'040102011187', 19, CAST(N'2002-11-09' AS Date), N'Nu', N'27 Bach Van P6 Q5 TP.HCM', 0, N'Quoc Te', N'12001', N'2020-2023')
GO
SET IDENTITY_INSERT [dbo].[USERLOGIN] ON 

INSERT [dbo].[USERLOGIN] ([ID], [USERNAME], [PASSWORD], [VAITRO], [MASV]) VALUES (1, N'admin', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', N'admin', NULL)
INSERT [dbo].[USERLOGIN] ([ID], [USERNAME], [PASSWORD], [VAITRO], [MASV]) VALUES (2, N'sinhvien', N'3fc7ab58c292e3cadb42707d64aa48c326c77993e43ae34c065f7dbced2110e5', N'sinh viên', N'20001')
INSERT [dbo].[USERLOGIN] ([ID], [USERNAME], [PASSWORD], [VAITRO], [MASV]) VALUES (3, N'sinhvien1', N'04763aa242dadaee9209767fdb50c9b39901642246011fcbfc8cf6841e819b29', N'sinh viên', N'20002')
SET IDENTITY_INSERT [dbo].[USERLOGIN] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [HOCBONG_MASV_UNI]    Script Date: 17/07/2023 9:09:22 PM ******/
ALTER TABLE [dbo].[HOCBONG] ADD  CONSTRAINT [HOCBONG_MASV_UNI] UNIQUE NONCLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LOP__9B3A2CE604E837D9]    Script Date: 17/07/2023 9:09:22 PM ******/
ALTER TABLE [dbo].[LOP] ADD UNIQUE NONCLUSTERED 
(
	[LOPTRUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNIQ_USERNAME]    Script Date: 17/07/2023 9:09:22 PM ******/
ALTER TABLE [dbo].[USERLOGIN] ADD  CONSTRAINT [UNIQ_USERNAME] UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_USER]    Script Date: 17/07/2023 9:09:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_USER] ON [dbo].[USERLOGIN]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DKHP] ADD  CONSTRAINT [diemtk_df]  DEFAULT ((0)) FOR [DIEMTKY]
GO
ALTER TABLE [dbo].[DKHP] ADD  CONSTRAINT [diemGk_df]  DEFAULT ((0)) FOR [DIEMGK]
GO
ALTER TABLE [dbo].[DKHP] ADD  CONSTRAINT [diemck_df]  DEFAULT ((0)) FOR [DIEMCK]
GO
ALTER TABLE [dbo].[DKHP] ADD  CONSTRAINT [diemhe10_df]  DEFAULT ((0)) FOR [DIEMTBHE10]
GO
ALTER TABLE [dbo].[DKHP] ADD  CONSTRAINT [diemhe4_df]  DEFAULT ((0)) FOR [DIEMTBHE4]
GO
ALTER TABLE [dbo].[DKHP] ADD  DEFAULT ((1000000)) FOR [HOCPHI]
GO
ALTER TABLE [dbo].[LOPHP] ADD  CONSTRAINT [lophp_sstoida_df]  DEFAULT ((30)) FOR [SSTOIDA]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  DEFAULT ((0)) FOR [CONGNO]
GO
ALTER TABLE [dbo].[BOMON]  WITH CHECK ADD  CONSTRAINT [BOMON_MAKHOA_FK] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[BOMON] CHECK CONSTRAINT [BOMON_MAKHOA_FK]
GO
ALTER TABLE [dbo].[DKHP]  WITH CHECK ADD  CONSTRAINT [DKHP_MALHP_FK] FOREIGN KEY([MALHP])
REFERENCES [dbo].[LOPHP] ([MALHP])
GO
ALTER TABLE [dbo].[DKHP] CHECK CONSTRAINT [DKHP_MALHP_FK]
GO
ALTER TABLE [dbo].[DKHP]  WITH CHECK ADD  CONSTRAINT [DKHP_MASV_FK] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[DKHP] CHECK CONSTRAINT [DKHP_MASV_FK]
GO
ALTER TABLE [dbo].[HOCBONG]  WITH CHECK ADD  CONSTRAINT [HB_MASV_FK] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[HOCBONG] CHECK CONSTRAINT [HB_MASV_FK]
GO
ALTER TABLE [dbo].[HOCPHAN]  WITH CHECK ADD  CONSTRAINT [HOCPHAN_MABM_FK] FOREIGN KEY([MABM])
REFERENCES [dbo].[BOMON] ([MABM])
GO
ALTER TABLE [dbo].[HOCPHAN] CHECK CONSTRAINT [HOCPHAN_MABM_FK]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [LOP_LOPTRUONG_FK] FOREIGN KEY([LOPTRUONG])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [LOP_LOPTRUONG_FK]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [LOP_MAKHOA_FK] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [LOP_MAKHOA_FK]
GO
ALTER TABLE [dbo].[LOPHP]  WITH CHECK ADD  CONSTRAINT [LOPHP_MAHP_FK] FOREIGN KEY([MAHP])
REFERENCES [dbo].[HOCPHAN] ([MAHP])
GO
ALTER TABLE [dbo].[LOPHP] CHECK CONSTRAINT [LOPHP_MAHP_FK]
GO
ALTER TABLE [dbo].[LOPHP]  WITH CHECK ADD  CONSTRAINT [LOPHP_MALOP_FK] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[LOPHP] CHECK CONSTRAINT [LOPHP_MALOP_FK]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [SINHVIEN_MALOP_FK] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [SINHVIEN_MALOP_FK]
GO
ALTER TABLE [dbo].[USERLOGIN]  WITH CHECK ADD  CONSTRAINT [FK_USERLOGIN_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[USERLOGIN] CHECK CONSTRAINT [FK_USERLOGIN_SINHVIEN]
GO
ALTER TABLE [dbo].[DKHP]  WITH CHECK ADD CHECK  (([TTRANGHP]='DA THU' OR [TTRANGHP]='CHUA THU'))
GO
ALTER TABLE [dbo].[DKHP]  WITH CHECK ADD  CONSTRAINT [DKHP__DIEMCK__CK] CHECK  (([DIEMCK]<=(100) AND [DIEMCK]>=(0)))
GO
ALTER TABLE [dbo].[DKHP] CHECK CONSTRAINT [DKHP__DIEMCK__CK]
GO
ALTER TABLE [dbo].[DKHP]  WITH CHECK ADD  CONSTRAINT [DKHP__DIEMGK__CK] CHECK  (([DIEMGK]<=(100) AND [DIEMGK]>=(0)))
GO
ALTER TABLE [dbo].[DKHP] CHECK CONSTRAINT [DKHP__DIEMGK__CK]
GO
ALTER TABLE [dbo].[DKHP]  WITH CHECK ADD  CONSTRAINT [DKHP__DIEMTBHE10__CK] CHECK  (([DIEMTBHE10]<=(10) AND [DIEMTBHE10]>=(0)))
GO
ALTER TABLE [dbo].[DKHP] CHECK CONSTRAINT [DKHP__DIEMTBHE10__CK]
GO
ALTER TABLE [dbo].[DKHP]  WITH CHECK ADD  CONSTRAINT [DKHP__DIEMTBHE4__CK] CHECK  (([DIEMTBHE4]<=(4) AND [DIEMTBHE4]>=(0)))
GO
ALTER TABLE [dbo].[DKHP] CHECK CONSTRAINT [DKHP__DIEMTBHE4__CK]
GO
ALTER TABLE [dbo].[DKHP]  WITH CHECK ADD  CONSTRAINT [DKHP__DIEMTKY__CK] CHECK  (([DIEMTKY]<=(100) AND [DIEMTKY]>=(0)))
GO
ALTER TABLE [dbo].[DKHP] CHECK CONSTRAINT [DKHP__DIEMTKY__CK]
GO
ALTER TABLE [dbo].[HOCPHAN]  WITH CHECK ADD CHECK  (([BATBUOC]='KHONG' OR [BATBUOC]='CO'))
GO
ALTER TABLE [dbo].[HOCPHAN]  WITH CHECK ADD CHECK  (([SOTC]>=(2)))
GO
ALTER TABLE [dbo].[KHOA]  WITH CHECK ADD CHECK  ((len([SDTKHOA])=(10)))
GO
ALTER TABLE [dbo].[LOPHP]  WITH CHECK ADD  CONSTRAINT [LOPHP_DADK_CK] CHECK  (([DADK]<=[SSTOIDA]))
GO
ALTER TABLE [dbo].[LOPHP] CHECK CONSTRAINT [LOPHP_DADK_CK]
GO
ALTER TABLE [dbo].[LOPHP]  WITH CHECK ADD  CONSTRAINT [lophp_tg_check] CHECK  (([TGBD]<[TGKT]))
GO
ALTER TABLE [dbo].[LOPHP] CHECK CONSTRAINT [lophp_tg_check]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD CHECK  ((datepart(year,[NAMSINH])<(2021)))
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD CHECK  (([PHAI]='NU' OR [PHAI]='NAM'))
GO
USE [master]
GO
